.popup{
    width: 30vw;
    min-width: 450px;
    height: 35vh;
    border-radius: 8px;
    padding: 20px;
    line-height: 1.5;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: rgb(38, 64, 34);
}
.popup.dark{
    color: #bcbcbc;
    background-color: #363636;
}
@media screen and (max-width:480px) {
    .popup{
        min-width: 90vw;
        height: 30vh;

    }

}