
  h2 {
    font-size: 1.5em;
    text-align: center;
  }
  
  label {
    text-align-last: left;
    display: block;
    margin-bottom: 8px;
  }
  
  input {
    display: block;
    border: 1px solid black;
    padding: 8px 12px;
    border-radius: 5px;
    margin-top: 3px;
    width: 100%;
    box-sizing: border-box;
  }
   
.modal-frame {
    background-color: #00000098;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
  }
  
  .modal {
    position: relative;
    width: 80%;
    max-width: 400px;
    min-height: 300px;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 6px black;
    border-radius: 5px;
    margin: auto;
    animation: slide-up 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
 
  .modal h2 {
    color: #282c34;
  }
  
  .modal .close {
    position: absolute;
    right: 0;
    top: 0;
    margin: 3px;
    width: initial;
    background: none;
    color: #373737;
    font-size: 16px;
    width: 30px;
    height: 30px;
    transition: 0.3s;
    cursor: pointer;
  }
  
  .modal .close:hover {
    background-color: #af0000;
    color: white;

  }
  
  .modal form {
    padding: 24px;
  }

  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  