.category-container{
    position: relative;
    max-width: 2500px;
    width: 100vw;
    height: 35vh;
    background-color: #e7e5e5;
    display: flex;
    align-items: center;
}
.category-container img{
    height: 100%;
    width: 100%;
}
.cover-title{
    width: 100%;
    margin: 0 auto;
    position: absolute;
    color: #3f6b44;
}
.cover-title h1{
  font-size: 4rem;
  margin-bottom: 15px;
}

.cover-title p{
    width: 45%;
    margin: 0 auto;
    line-height: 1.7;
}

.category-select {
    margin: 20px;
    width: 20%;
    
}

.category-select select{
    cursor: pointer;
    color: rgb(8 62 3);
    width: 200px;
    font-size: .9rem;
    font-weight: bold;
    border: none;
    outline: none;
    background-color: transparent;
}
.category-select.dark select{
    color: white;
}
.category-select select option{
    background-color: rgb(235, 235, 235);
    border: none;
    font-weight: bold;

}
.category-select.dark select option{
    background-color: rgba(0, 0, 0);
    border: none;
}