.container-table{
  min-width: 70vw;
  color: rgb(38, 64, 34);
}
.container-table.dark h1{
  color: #dcdcdc;
}

.container-table.dark .page-header{
  color: #dcdcdc;
}
.container-table.dark .users-table th,.container-table.dark .product-table th,.container-table.dark .admin-data-table th{
  background-color: #47474733;
  color: #dcdcdc;
}
.container-table.dark .users-table td,.container-table.dark .product-table td,.container-table.dark .admin-data-table td{
  background-color: #9b9b9b33;
  color: #dcdcdc;
}
.container-table  .page-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  color: rgb(38, 64, 34);
}
.admin-data-table{
  min-height: 50vh;
  width: 50vw;
  margin: 5% auto;
}

.admin-data-table tr td:not(:first-child) {
  font-size: 1.5rem;
 font-weight: bold; 
}

.dashboard-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.dashboard-header h1{
margin: 20px;
}
.display{
  display: flex;
  gap: 25px;
  background-color: #3f9557;
  padding: 35px;
  border-radius: 20px;
}
.display button,.new-product{
  min-width: 120px;
  max-width: 150px;
  padding: 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background-color:rgb(7, 83, 0);
  color: white;
  border-radius: 10px;
  transition: all .3s;
}
.users-table ,.product-table,.admin-data-table {
    width: 85%;
    margin: 3% auto;
    border-collapse: collapse;

  }
  .users-table-dark{
    color: black;
   }
   .table-img{
    width: 60px;
    border-radius: 10px;
   }
  .users-table th ,.product-table th,.admin-data-table th {
    background-color: #ebebeb;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  .users-table th:nth-child(8) {
    background-color: #ff6666; 
    color: white;
   
  }
  .product-table th:nth-child(9){
    background-color: #ff6666; 
    color: white;
  }
  .users-table td,.product-table td,.admin-data-table td{
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  }
  .users-table-dark td{
    color: white;
    background: linear-gradient(to right, #414345, #232526);
   }
   
   .users-table .fa-edit,  .users-table .ai-delete,
   .product-table .fa-edit,.product-table .ai-delete {
       cursor: pointer;
       font-size: 1.2rem;
       transition: all .4s;
   }
   
   .users-table .fa-edit:hover,.users-table .ai-delete:hover,
   .product-table .fa-edit:hover,.product-table .ai-delete:hover {
       transform: scale(1.2);
   }

  /* responsive */
  
  @media screen and (max-width:940px){
    .users-table th ,.product-table th{
      padding: 10px;
      font-size: .8rem;
    }
    .users-table td ,.product-table td{
      padding: 6px;
      font-size: .8rem;
    }
    .table-img{
      width: 35px;
    }
    .users-table .fa-edit,.product-table .fa-edit,
    .users-table .ai-delete,.product-table .ai-delete {
      font-size: .8rem;
    }
  }

  @media screen and (max-width:630px){
    .users-table th ,.product-table th{
      padding: 6px;
      font-size: .6rem;
    }
    .users-table td ,.product-table td{
      padding: 4px;
      font-size: .6rem;
    }
    .table-img{
      width: 25px;
    }
    .users-table .fa-edit,.product-table .fa-edit,
    .users-table .ai-delete,.product-table .ai-delete {
      font-size: .6rem;
    }
  }
