.container-table{
  min-width: 60vw;
}
.users-table {
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  .users-table-dark{
    color: black;
   }
   
  .users-table th {
    background-color: #ebebeb;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
  }

  .users-table th:nth-child(7) {
    background-color: #ff6666; 
    color: white;
   
  }
  
  .users-table td {
    border: 1px solid #bbbbbb;
    background-color: #f9feff;
    padding: 20px;
    text-align: center;
  }
  .users-table-dark td{
    color: white;
    background: linear-gradient(to right, #414345, #232526);
   }
  .users-table .fa-edit,
  .users-table .ai-delete {
    cursor: pointer;
    font-size: 1.2rem;
    transition: all .4s;
  }
  
  .users-table .fa-edit:hover,
  .users-table .ai-delete:hover {
    transform: scale(1.2);
  }

  /* responsive */
  
  @media screen and (max-width:750px){
    .users-table th{
      padding: 3px;
      font-size: .5rem;
    }
    .users-table td{
      padding: 6px;
      font-size: .5rem;
    }
    .users-table .fa-edit,
    .users-table .ai-delete {
      font-size: .7rem;
    }
  }
