.grid-container {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 20px;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.card-image {
  height: 210px;
  object-fit: cover;
}

.card-content {
  padding: 20px;
}

.card-title {
  text-align: left;
  font-size: 1.1rem;
}

.card-description {
  margin: 0;
  font-size: 1rem;
}
