.icon {
  cursor: pointer;
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 30px;
  overflow: hidden;
}
.icon::before, .icon::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  transition: all 0.25s ease;
  border-radius: 30px;
}
.icon i {
  position: relative;
  color: #FFFFFF;
  font-size: 20px;
  margin-top: 15px;
  transition: all 0.25s ease;
}

.icon-fill::before {
  transition-duration: 0.5s;
  box-shadow: inset 0 0 0 1px #16A085;
}
.icon-fill:hover::before {
  box-shadow: inset 0 0 0 60px #16A085;
}

.icon-enter::after {
  box-shadow: inset 0 0 0 1px #EB9532;
}
.icon-enter::before {
  border-radius: 0;
  margin-left: -100%;
  box-shadow: inset 0 0 0 60px #EB9532;
}
.icon-enter:hover::before {
  margin-left: 0;
}
.icon-expand{
  margin-left: 2%;
}
.icon-expand::after {
  box-shadow: inset 0 0 0 1px #C82647;
}
.icon-expand::before {
  background: #C82647;
  box-shadow: inset 0 0 0 60px #2d2c3e;
}
.icon-expand:hover::before {
  box-shadow: inset 0 0 0 1px #2d2c3e;
}

.icon-collapse::before {
  border-radius: 0;
}
.icon-collapse:hover::before {
  box-shadow: inset 0 30px 0 0 #8CC63F, inset 0 -30px 0 0 #8CC63F;
}
.icon-collapse::after {
  box-shadow: inset 0 0 0 1px #8CC63F;
}


@media screen and (max-width:1000px) {
  .icon-expand{
    margin-right: 8%;
  }
}
.up:hover,
.up:focus {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
}
.slide:hover,
.slide:focus {
  box-shadow: inset 13em 0 0 0 var(--hover);
}


.up {
  --color: #e4cb58;
  --hover: #94e458;
}

.close:hover,
.close:focus {
  box-shadow: inset -4em 0 0 0 var(--hover), inset 4em 0 0 0 var(--hover);
}

.close {
  --color: #ff7f82;
  --hover: #ffdc7f;
}
.slide {
  --color: #8fc866;
  --hover: #66c887;
}
.register-btn {
  color: var(--color);
  transition: 0.25s;
}
.register-btn:hover, .register-btn:focus {
  border-color: var(--hover);
  color: #fff;
}

.register-btn {
  background: none;
  border: 2px solid;
  /* font: inherit; */
  font-weight: bold;
  padding: 1em 2em;
}




