.nav-container{
    position: sticky;
    top: 0; 
    z-index: 999;
    width: 100%;
}

.top-nav{
    width: 100vw;
    max-width: 2500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #000000;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f9b0f, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 80px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.06) ;
    position: relative;
}
.top-nav.dark{
    background: #000000; 
}
.top-nav.dark .logo{
    filter: grayscale(50%);

}
.top-nav.dark .site-name{
        color: white;
    }
.logo-box{
    position: absolute;
    top: 5%;
    left: 20px;
}
.logo{
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease;
}
.logo:hover{
    transform: scale(1.08);

}
.site-name{
    position: absolute;
    bottom: -25px; 
   color:rgb(7, 83, 0);
    font-family: "Rancho", cursive;
    font-weight: 400;
    width: 110%;
    font-size: 1.2rem;
}

.link-box{
    display: flex;
    margin-left: 20px;
}
.user-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.guest-box{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}
.nav-signup,.nav-login,.nav-logout{
    width: 77px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
 }

#mobile{
    display: none;
}
#mobile i{
    color: white;
    cursor: pointer;
}


.admin-icon,.theme-btn{
    color: white;
    position: absolute;
    left: 20%;
    top: 20%;
    font-size: 27px;
 
}
.theme-btn{
 margin-left: 2%;
  }
  .cart-mobile{
    display: none;
  }

@media screen and (max-width:1000px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 90px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: rgb(22, 42, 27);
        box-shadow:0 40px 60px rgba(0, 0, 0, 0.1) ;
        padding: 40px 0 0 10px;
        z-index: 80;
        transition: 0.3s ease-in-out;
    }
    .top-nav.dark .navbar{
        background-color: rgb(15, 15, 15);
    }
    .navbar.active{
        right: 0px;
    }
    .navbar li{
        margin-bottom: 25px;
    }
    .link-box{
        display: flex;
        flex-direction: column;
        margin: unset;
        align-items: flex-start;
    }
    .user-box{
        flex-direction: row-reverse;
        gap: 50px;
    }
    
    #mobile{
        display: block;
    }
    #mobile{
       font-size: 24px;
       cursor: pointer; 
    }
    .logo{
        width: 60px;
        height: 60px;
    }
    .remove-search,.remove-cart{
        display: none;
    }
    .cart-mobile{
       display: block;
       position: absolute;
       left: 20%;
      }
    .theme-btn{
        margin-right: 10%;
         }
    .site-name{
      /* display: none; */
      color: white;
      font-size: 1.1rem;
      bottom: -15px;
         }
}


