.nav-container{
    position: sticky;
    top: 0; 
    z-index: 999;
    width: 100%;
}

.top-nav{
    width: 100vw;
    max-width: 2500px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background: #52c234;  
    background: -webkit-linear-gradient(to right, #061700, #52c234);  
    background: linear-gradient(to right, #061700, #52c234); 
    padding: 20px 80px;
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.06) ;
    position: relative;
}
.top-nav.dark{
    background: #000000; 
    }

.logo{
    width: 90px;
    height: 90px;
    position: absolute;
    top: 15%;
    left: 15px;
    border-radius: 50px;
}

.link-box{
    display: flex;
    margin-left: 20px;
}
.user-box{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap: 30px;
}
.guest-box{
    display: flex;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

.navbar li a{
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 600;
    color: white;
    transition: 0.3s ease-in-out;
}
.nav-signup,.nav-login,.nav-logout{
    width: 77px;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
 }

#mobile{
    display: none;
}
#mobile i{
    color: white;
    cursor: pointer;
}

.user-icon,.admin-icon,.theme-btn{
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
.theme-btn{
 margin-left: 2%;
  }
  .cart-mobile{
    display: none;
  }

@media screen and (max-width:1000px) {
    .navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 69px;
        right: -300px;
        width: 300px;
        height: 100vh;
        background-color: rgb(18, 37, 14);
        box-shadow:0 40px 60px rgba(0, 0, 0, 0.1) ;
        padding: 40px 0 0 10px;
        z-index: 80;
        transition: 0.3s ease-in-out;
    }
    .navbar.active{
        right: 0px;
    }
    .navbar li{
        margin-bottom: 25px;
    }
    .link-box{
        display: flex;
        flex-direction: column;
        margin: unset;
        align-items: flex-start;
    }
    .user-box{
        display: flex;
        flex-direction: column-reverse;
    }
    
    #mobile{
        display: block;
    }
    #mobile{
       font-size: 24px;
       cursor: pointer; 
    }
    .logo{
        width: 62px;
        height: 62px;
    }
    .remove-search,.remove-cart{
        display: none;
    }
    .cart-mobile{
       display: block;
       position: absolute;
       left: 20%;
      }
    .theme-btn{
        margin-right: 8%;
         }
}


