@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Inter', sans-serif;
  overflow-x:hidden;
  background-color: rgb(244 244 244 / 73%);
}
 body.dark-mode{
  background-color: rgb(15, 15, 15);

 }
button{
  cursor: pointer;
}

input{
  outline: none;
}

.img-no-product{
  width: 60vw;
 grid-column:span 5 ;
}