.modal-frame-details {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(19, 19, 19, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .product-details{
    position: relative;
    width: 50vw;
    max-width: 1100px;
    min-width: 900px;
    background-color: #fff;
    height: 70vh;
    padding: 25px;
    border-radius: 10px;
    animation: slide-up 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .product-details h1{
    text-align: left;
    text-transform: capitalize;
    font-size: 2.3rem;
    color: rgba(32, 32, 32, 0.862);
  }

  .product-details .content{
    display: flex;
    flex-direction: row-reverse;
    width: 100%;
    height: 80%;
   }
  .content .img-box{
   width: 50%;
   height: 70%;
  }
  .product-image {
    width: 70%;
    height: 100%;
    }
  .content .details-box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    width: 50%;
}
  .details-box .price{
    font-size: 1.3rem;
  }

  .product-details p{
    line-height: 1.6;
  }
 
  .product-details .close-btn{
    position: absolute;
    top: 5px;
    right: 15px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: rgb(58, 58, 58);
    font-size: 2.5rem;
  }
  .product-details .add-btn{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: rgba(82, 82, 82, 0.952);
    color: white;
    border-radius: 10px;
    transition: all .3s;
  }
  .product-details .add-btn:hover{
    background-color:rgb(224, 224, 224);
    color: rgba(82, 82, 82, 0.952);
  }
  table {
    margin: 0 auto;
    width: 50%;
    border-collapse: collapse;
  }
  
  th, td {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
  }
  
  th {
    background-color: #f2f2f2;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  @keyframes slide-up {
    0% {
      opacity: 0;
      transform: translateY(100px);
    }
  
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  @media screen and (max-width:1350px) {
    .product-details {
      width: 94vw;
      min-width: unset;
      background-color: #fff;
      height: 96vh;
  }
  .product-details .content{
    flex-direction: column;

   }
.content .img-box {
  width: 100%;
  height: 60%;
}
.product-image {
  width: 50%;
  height: 75%;
}
.content .details-box {
gap: 20px;
  width: 100%;
}
}